<!DOCTYPE html>
<html>
<head>
  <title>Pocketboard</title>

</head>
<body>

<div id="fb-root"></div>

<nav id="nav">
    <div id="page_nav">
      <%= link_to "Home", root_path  %>
      <%= link_to "About", page_about_path  %>
      <%= link_to "FAQs", page_faqs_path  %>
      <%= link_to "Contact", page_contact_path  %>
    </div>

    <div id="sign_in">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path  %>
        <%= link_to "Sign Up", new_user_registration_path %>
         <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
      <% end %>
    </div>
</nav>

  <div class="main">
    <p class='notice'><%= notice  %></p>
    <p class='alert'><%= alert  %></p>

  </div>
</body>
</html>

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="large material-icons"></i>
      </a>
      <ul>
      <% if user_signed_in? %>
        <li><a href="/users/<%= current_user.id %>/portfolios" class="btn-floating red"><i class="material-icons"></i></a></li>
        <% if current_user.portfolios.first %>
          <li><a href="/users/<%= current_user.id %>/portfolios/<%= current_user.portfolios.first %>/industries" class="btn-floating yellow darken-1"><i class="material-icons"></i></a></li>
        <% end %>
        <li><a href="/users/<%= current_user.id %>/portfolios/new" class="btn-floating purple"><i class="material-icons"></i></a></li>
        <li><a href="/page/about" class="btn-floating green"><i class="material-icons"></i></a></li>
        <li><a href="/page/faqs" class="btn-floating blue"><i class="material-icons"></i></a></li>
      <% end %>
      </ul>
  </div>

@import "materialize";
@import "materialize/extras/nouislider";
