<p id="notice"><%= notice %></p>

<section class="container">
  <h2 class="page-header">Listing Industries</h2>

    <div id="industry">
      <% @industries.each do |industry| %>
        <div class="industry-btn">
          <h2><a href=" /industries/<%= industry.id %>" class="btn btn-sm btn-primary"><%= industry.name %></a></h2>
        </div>
      <% end %>
    </div>
</section>
