<p id="notice"><%= notice %></p>

<h1>Listing Industries</h1>

        <div id="industry">
          <% @industries.each do |i| %>
            <h2><a href=" /industries/<%= i.id %>"><%= i.name %></a></h2><br>
          <% end %>
        </div>




