<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% @stocks.each do |s| %>

<div class="stock">
<p>
  <strong>Name: </strong>
  <%= s.name %>
</p>

<button type="button" class="btn btn-default navbar-btn">Yes</button>
|
<button type="button" class="btn btn-default navbar-btn">No</button>

</div>
<% end %>

