@import "bootstrap";
@import "agency";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "styles"; //Main Styles to website
@import "login"; //Login Section
@import "jTinder";
@import "dashboard";
@import "form";
// @import "portfolios";

// Normalize Website Style
// Header Tag for each page (If Any)
.page-header {
  color: black;
  text-align: center;
  margin: auto;
}

// Normalize the button style
.btn-primary {
  margin: 0 auto;
}

// industry/index.html
.industry-btn {
  display: inline-block;
}
