@import "bootstrap";
@import "agency";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "styles"; //Main Styles to website
@import "login"; //Login Section
@import "jTinder";
@import "dashboard";
@import "form";
@import "spinkit";
// @import "portfolios";

// Normalize Website Style
// Header Tag for each page (If Any)
.page-header {
  color: black;
  text-align: center;
  margin: auto;
}

// Normalize the button style
.btn-primary {
  margin: 0 auto;
}

.btn-xl {
  border-radius: 5%;
  margin-top: 30px;
}

// industries/index.html
.industry-btn {
  display: inline-block;
}

//industries/:id
//Tinder Card Layout
ul.tinder-layout {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.tinder-wrapper {
  text-align: center;
}
.tinder-btn {
  width: 50%;
  display: inline-block;
}

div.actions.tinder-layout.tinder-btn {
  display: inline-block;
  margin: 0 auto;
}

li.pane2 {
  display: inline-block;
  text-align: center;
  height: 50%;
}

.stock-info {
  margin-top: 25px;
}

div.wrap {
  width: 60%;
  display: inline-block;
  margin: auto;
}

section.container.tinder-wrapper {
  height: 100%;
  padding-bottom: 20px;
}

.pane2 img{
  -webkit-filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.9));
  filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.9));
}

//
div.collapse {
  display: none;
}

// Login icon
.fa-heart{
    color: #F74933;
}
.space-100{
    height: 100px;
    display: block;
}
pre.prettyprint{
    background-color: null;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

