@import "bootstrap";
@import "agency";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "styles"; //Main Styles to website
@import "login"; //Login Section
@import "jTinder";
@import "dashboard";
@import "form";
@import "spinkit";
// @import "portfolios";

// Normalize Website Style
// Header Tag for each page (If Any)
.page-header {
  color: black;
  text-align: center;
  margin: auto;
}

// Normalize the button style
.btn-primary {
  margin: 0 auto;
}

// industries/index.html
.industry-btn {
  display: inline-block;
}

//industries/:id
ul.tinder-layout {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.tinder-wrapper {
  text-align: center;
}
.tinder-btn {
  width: 50%;
  display: inline-block;
}

div.actions.tinder-layout.tinder-btn {
  display: inline-block;
  margin: 0 auto;
}

li.pane2 {
  display: inline-block;
  text-align: center;
}

