// * {
//   outline: 1px solid blue;
// }

// Services Grid Section
.services-bg {
  background-color: white;
}

.fa-4x img {
  margin-bottom: 15px;
}

.service-heading {
  margin-top: 20px;
}

// Graph Grid Section
// #portfolio {
//   background-color: #e0b8f9;
// }
//

//

//

//

//
