// * {
//   outline: 1px solid blue;
// }

// Services Grid Section
.services-bg {
  background-color: white;
}

.fa-4x img {
  margin-bottom: 15px;
}

.service-heading {
  margin-top: 20px;
}

// Graph Grid Section
#portfolio {
  background-image: url("portfolio-bg.jpg");
  // background-color: #92cab1
}

.portfolio-header {
  color: white
}

.portfolio-subtitle {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
}


