// * {
//   outline: 1px solid blue;
// }

// Services Section
.services-bg {
  background-color: white;
}

.fa-4x img {
  margin-bottom: 15px;
}

.service-heading {
  margin-top: 20px;
}

//

//

//

//

//

//
